version: "3.9"

services:
  postgres:
    image: postgres:14-alpine
    ports:
      - 5431:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=bnbsite
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: always
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/bnbsite
      - VITE_FRONTEND_URL=http://localhost:5173
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    restart: always
    environment:
      REACT_APP_BACKEND_URL: http://localhost:8000
    depends_on:
      - backend
volumes:
  postgres_data: